body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 244, 200);
    color:rgb(100, 61, 9)
}
h1{
    font-family:fantasy;
    font-size:72px;
    font-weight: 700;

}
nav{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: rgb(70, 42, 5);
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    padding: 7px 10px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 10;
}
.emphasize{
    color:rgb(46, 124, 240)
}
.deEmphasize{
    color: rgb(194, 192, 154);
}
.bolder{
    font-weight: bold;
}
.marker{
    background-color: yellow;
}
#link{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 131, 99);
    font-size: 20px;
    font-weight: 50px;
}
#special{
    font-family: Jokerman, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.blocks{
    background-color: rgb(70, 42, 5);
    color:white;
}