/*Common part*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.788);
    background-color: #f2eadf;
    background-size: cover;
    filter: blur(0px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: #6b4600;
    margin-left: -15%;
    font-size: 20px;
}

h1 {
    color: #6b4600;
    margin-left: -15%;
    font-size: 3vw;
}

h2{
    color: #6b4600;
    font-size: 2.3vw;
    margin-top: 0px;
    
}
h3{
    color: #6b4600;
    font-size: 2vw;
    margin-top: 0px;
    
}
/*Nav bar*/
nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 1% 10%; 
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 3%; 
}

nav ul li a {
    text-decoration: none;
    border: 0.2vw solid rgb(255, 255, 255, 0);
    padding: 5px 10px;
    color: rgb(248, 246, 238);
    text-shadow: -1px -1px 0 #a59178, 1px -1px 0 #a59178, -1px 1px 0 #a59178, 1px 1px 0 #a59178;
    background-color: transparent;
    border-radius: 1vw;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 120%
}


nav ul li a:hover {
    background-color: #a59178;
    color: white;
}


nav ul li a.current {
    background-color: #6b4600;
    color: white;
}

#HomeVideo{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 50vw; 
    height: 25vw; 
    border-radius: 2vw; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 
    0 6px 6px rgba(0, 0, 0, 0.2); 
}
.text-wrap {
    width: 90%;
    margin: 0 auto;
}

.text-wrap img {
    float: left;
    margin: 0 20px 20px 0;
    width: 200px; 
    height: auto; 
    border-radius: 10px;
}

.text-wrap p {
    text-align: justify;
    line-height: 1.6;
}

.rounded-rectangle {
    width: 78%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 3vw 3vw 0; 
    box-shadow: 0vw 0.4vw 0.6vw rgba(0, 0, 0, 0.5);
    margin-right: 5%; 
    padding: 3vw;
    position: relative; 
}
.rounded-rectangle p{
    max-width: 90%;
    margin-right: 5%;
    font-size: 1.5vw;
    line-height: 200%;
    margin-left: 3%;
}
.rounded-rectangle ul li{
    font-size: 1.3vw;
    line-height: 200%;
}
.rounded-rectangle p::first-letter {
    font-size: 3vw; 
    font-weight: bold;
    color: #6b4600; 
    line-height: 50%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:1vw;
    padding: 20px;
}
.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:5px
}
.container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px
}
.Pictures{
    flex: 0 0 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    padding: 0px;
    margin: 1%;
}
.Pictures img{
    width: 80%;
    height: auto;
    display:block;
    border-radius: 1vw;
    border: none;
    padding: 0px;
}
.Pictures h2{
    font-size: 1.5vw;
    text-align: center;
}
.Pictures2{
    display: flex;
    align-items: center;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 0px;
    margin: 1%;
}
.Pictures2 img{
    width:30%;
    height:auto;
    height: auto;
    display: flex;
    border-radius: 0;
    border: none;
    padding: 0px;
}
.Pictures2 h2{
    margin: 0px;
    max-width: 80%;
    font-size: 2vw;
    text-align: center;
}

.Pictures3{
    flex: 0 0 calc(45% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    padding: 0px;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.Pictures3 img{
    width:100%;
    height: auto;
}

.Pictures3 h2{
    width:90%;
    margin: auto;
    height: auto;
}

.hover-box {
    width: 40vw;
    height: 20vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
.hover-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    max-width: 800px;
}

.hover-table th,
.hover-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    position: relative;
}

.hover-table tr:hover {
    background-color: #f2f2f2;
}

.popup-container {
    position: relative;
}
.popup2 img {
    max-width: 30vw;
    border-radius: 5px;
}

.popup-container:hover .popup2 {
    display: block;
    animation: fadeIn 0.3s ease;
}
.popup2{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 8px;
}
.popup {
    position: fixed;
    top: 30%;
    left: 42%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
}
.popup p{
    font-size: 2vw;
    display: block;
}
.popup h2{
    font-size: 3vw;
}
.popup p::first-letter {
    font-size: 3vw; 
    font-weight: bold;
    color: #6b4600; 
    line-height: 120%;
    margin: 0;
    padding: 0;
}
.hover-box:hover .popup {
    display: block;
    animation: fadeIn 0.3s ease;
}

figcaption {
    display: none;
}
.image_rectangle_Landscape {
    width: 55%; 
    height: 18vw; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1vw; 
    position: absolute;
    top: 15%;
    left: 45%;
    padding: 3vw;
    background-image: url("image.webp");
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 
    0 6px 6px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}

ul.shift {
    margin-left: 5%;
    margin-top: -3vh;
}


ul li{
    font-size: 1.2vw;
    list-style: none;
    padding-bottom: 1%;
}

.ul {
    background-image: url('icons/bullet_point.webp'); 
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 30px;
}

footer {
    color: #6b4600;
}

.bolder {
    font-weight: bold;
}

.breeds{
    margin: 2% 25%;
    border:thick solid #6b4600;
    border-spacing: 0px;
    border-collapse:collapse;
}

.breeds td, .breeds th{
    margin: 0px auto;
    border:thin solid #6b4600;
    padding:20px;
}

.breeds thead{
    background-color: #6b4600;
    color: white;
}

.breeds tbody tr:nth-child(even){
    background-color: rgba(173, 96, 24, 0.2);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.breeds tbody tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.breeds tfoot{
    background-color: #6b4600;
    color: white;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h2 {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

#errorList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    color: #6b4600 ;
    font-size: 2vw;
}

#errorList li {
    color: black;
    margin-bottom: 10px;
    padding-left: 10px;
}

fieldset{
    background-color: #f2eadf;
    box-shadow: 3px 3px 3px rgba(20, 20, 20, 0.5);
    border-radius: 10px;
}

legend{
    background-color: #6b4600;
    color:white;
    padding: 10px;
    border-radius: 50px;
    border: thin solid #000;
}

.form-row, .check-row{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}
.form-row label{
    width: 150px;
}

.spacer{
    width: 150px;
}

input[type="submit"], button[type="button"]{
    background-color: #6b4600;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

#startButton{
    background-color: #6b4600;
    color: white;
    font-size: 1.5vw;
    padding: 15px;
    border-radius: 10px;
    
}

input:not([type="submit"]){
    padding: 10px;
    font-size: 1.2em;
    background-color: #ddd;
    border-radius: 50px;
}
input:not([type="submit"]):focus{
    background-color: #fff;
}

.popupForm {
    position: fixed;
    top: 10%;
    left: 50%;
    min-width: 40vw;
    max-width: 60vw;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
}

#popupOverlay {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    padding: 0px;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #6b4600;
    color: white;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.close-button:hover {
    background-color: black;
}
.hidden {
    display: none;
}

body.blur {
    filter: blur(5px);
    overflow: hidden;
}

#footer{
    margin-left: 20%;
}

#reference{
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@media only screen and (max-width:768px){
    body {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 6vw;
    }
    h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 5vw;
    }
    h3{
        margin-bottom: 10px;
        text-align: center;
        font-size: 5vw;
    }
    nav{
        background-color:rgb(107, 70, 0,0.2);
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        display: flex;
        gap: 2vw;
        align-items: center;
    }
    .ul {
        background-repeat: no-repeat;
        background-position: 0 2px;
        padding-left: 30px;
    }

    nav ul li a{
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: thin solid #000000;
        font-size: 4vw;
        text-align:center;
        border-radius: 2vw;
    }
    nav ul li a.current {
        background-color: #ffffff;
        color: #6b4600;
        border: 0.2vw solid #6b4600;
        text-shadow: 0px 0px;
    }
    .rounded-rectangle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .rounded-rectangle ul li{
        margin-left: 0;
        margin-right: 0;
        font-size: 4vw;
    }
    .rounded-rectangle p{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 4vw;
    }
    #HomeVideo{
        position: static;
        width: 90vw; 
        height: 50vw;
        margin-right: 6%;
    }
    .Pictures2 h2{
        margin: 0px;
        max-width: 80%;
        font-size: 6vw;
        text-align: center;
    }
    .Pictures2 img{
        margin: 0px;
        max-width: 100%;
    }
    .Pictures {
        flex: 1 1 calc(50% - 20px);
    }
    .Pictures h2{
        font-size: 5vw;
    }
    .container{
        flex-wrap: wrap;
    }
    .container2{
        flex-wrap: wrap;
    }
    .container3{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .space{
        margin: 1%;
    }
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer{
        text-align: left;
    }

    input[type="submit"], button[type="button"]{
        background-color: #6b4600;
        color: white;
        padding: 5px;
        border-radius: 50px;
    }
}
@media only screen and (max-width:480px){
    nav ul li a{
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: thin solid #000000;
        font-size: 5vw;
        text-align:center;
        border-radius: 5vw;
    }
    .rounded-rectangle p{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 5vw;
    }
    .Pictures {
        flex: 1 1 60%;
    }
}