body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2222DD;
    background-image: url(Blue_Background.jpg)
}
header{
    background-position: right;
    background-repeat: no-repeat;
    background-image:none
}
nav a{
    color:rgb(89, 211, 248)
}
.current{
    color:rgb(165, 164, 164)
}
.list{
    list-style-image: url(unpressed_button.png);
}